@import "fonts";

@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@layer base {
  body {
    @apply bg-zinc-900;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
      "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
      "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
      monospace;
  }

  p {
    @apply text-lg mb-6;
  }

  p:last-of-type {
    @apply mb-0;
  }
}

@layer utilities {
  .animate-fadein {
    animation: fadeIn 2s ease-in forwards;
  }

  .animate-flip {
    animation: flip 3s linear;
    animation-delay: 0.1s;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes flip {
  0% {
    transform: scaleY(1);
  }
  50% {
    opacity: 0.6;
    transform: scaleY(-1);
  }
  100% {
    transform: scaleY(1);
  }
}
